resource_group_name = "rg-sample-103"
location            = "eastus"
cosmos_account_name = "samplecosmosacct103"
cosmos_api          = "cassandra"
cassandra_keyspaces = {
  one = {
    keyspace_name           = "keyspacenoautoscale"
    keyspace_throughput     = 400
    keyspace_max_throughput = null
  },
  two = {
    keyspace_name           = "keyspaceautoscale"
    keyspace_throughput     = null
    keyspace_max_throughput = 1000
  }
}
cassandra_tables = {
  one = {
    keyspace_name        = "keyspaceautoscale"
    table_name           = "table1"
    default_ttl_seconds  = "86400"
    analytical_storage_ttl = null
    table_throughout     = 400
    table_max_throughput = null
    cassandra_schema_settings = {
      column  = {
        columnone = {
          column_key_name      = "loadid"
          column_key_type      = "uuid"  
        },
        columntwo = {
          column_key_name      = "machine"
          column_key_type      = "uuid"  
        },
        columnthree = {
          column_key_name      = "mtime"
          column_key_type      = "int"  
        }      
      }
      partition_key = {
        partition_key_one = {
          partition_key_name   = "loadid"
        }  
      }
      cluster_key = null
    }
  },
two = {
     keyspace_name        = "keyspacenoautoscale"
     table_name           = "table2"
     default_ttl_seconds  = "86400"
     analytical_storage_ttl = null
     table_throughout     = 400
     table_max_throughput = null
     cassandra_schema_settings = {
       column  = {
         columntwo = {
           column_key_name      = "loadid"
           column_key_type      = "uuid"  
         }
       }
       partition_key = {
         partition_key_two = {
           partition_key_name   = "loadid"
         }  
       }
       cluster_key = null
     }
    }
}