resource_group_name = "rg-sample-102"
location            = "eastus"
cosmos_account_name = "samplecosmosacct102"
cosmos_api          = "mongo"
mongo_dbs = {
  one = {
    db_name           = "dbnoautoscale"
    db_throughput     = 400
    db_max_throughput = null
  },
  two = {
    db_name           = "dbautoscale"
    db_throughput     = null
    db_max_throughput = 1000
  }
}
mongo_db_collections = {
  one = {
    collection_name           = "collection1"
    db_name                   = "dbautoscale"
    default_ttl_seconds       = "2592000"
    shard_key                 = "MyShardKey"
    collection_throughout     = 400
    collection_max_throughput = null
    analytical_storage_ttl    = null
    indexes                   = {
      indexone                = {
        mongo_index_keys          = ["_id"]
        mongo_index_unique        = true
      }
    }
  },
  two = {
    collection_name           = "collection2"
    db_name                   = "dbnoautoscale"
    default_ttl_seconds       = "2592000"
    shard_key                 = "MyShardKey"
    collection_throughout     = 400
    collection_max_throughput = null
    analytical_storage_ttl    = null
    indexes                   = {
      indextwo                = {
        mongo_index_keys          = ["_id"]
        mongo_index_unique        = true
      }
    }
  }
}